@import "compass/css3/border-radius"

*
  box-sizing: border-box !important

html
  position: relative
  min-height: 100%
  body section
    height: auto

.left
  float: left
.right
  float: right

time
  display: block
  text-decoration: none
  color: $gray-light
  span
    color: $gray-light
    font-size: 18px

section
  max-width: 68em
  width: 65.88%
  margin-left: 17.05%
  article
    > header
      padding-bottom: 10px
      h1
        padding-bottom: 0
        margin-bottom: 0
        font-size: 26px
        margin-top: 15px
        line-height: 32px
        text-align: center
    padding-bottom: 25px
    h1, h2, h3, h4, h5, p, blockquote
      padding: 0px 20px
      margin: 25px 0
    p
      strong
        color: $red
        font-weight: bold
      em
        font-style: italic
      img
        overflow: auto
        max-width: 100%

blockquote
  border-left: 5px solid $red
  margin-left: 20px
  padding: 0

code
  font-weight: normal

figure.code
  width: 100%
  table
    width: 100%
    td
      margin: 0
      padding: 0
      display: inline
    .line-numbers
      display: none
pre
  margin: 0
  +border-radius(0px)
  border: none
  background: $gray-lighter + 8
  padding: 10px 20px

body > header
  text-align: center
  display: block
  position: relative
  width: 100%
  max-width: 100%
  float: none
  text-align: center
  padding-top: 25px
  a
    text-decoration: none
  figure.logo
    position: relative
    height: 100px
    width: 100px
    display: block
    margin: 0 auto
    left: auto
    right: auto
    cursor: pointer
    a
      display: inline-block
      //margin-top: 46px
      //margin-left: 2px
      color: white
      font-size: 82px
      font-weight: 600
      +text-shadow(0px 3px 8px $gray-dark)
  hgroup
    max-width: 75%
    width: auto
    margin: 0 auto
    padding: 10px 0
    $h1-font: 26px
    h1
      font-size: $h1-font
      font-weight: normal
      color: $gray-light
      a:hover
        font-weight: normal
    h3 p
      font-family: $bodyFont
      font-weight: normal
      line-height: $font-size
      font-size: $font-size - 2
  nav
    background: $gray-lighter + 8
    padding: 10px 0
    +box-shadow(inset 0px 0px 1px darken($red, 15))
    ul
      margin: 0
      padding: 0
      li
        display: inline-block
    a
      display: block
      text-transform: none
      color: $red
      margin: 0 10px
      span
        font-size: 16px

section
  padding: 25px 0
  margin: 0 auto
  a
    color: $offBlack
    +transition(color 0.2s ease-in-out)
    border-bottom: 1px solid $red
    text-decoration: none
    &:hover
      color: $red
  article
    p a
      border-bottom: 1px solid $red
      color: $red
    blockquote a
      border-bottom: none
    h1 time
      line-height: 16px
      font-size: 14px
    h2
      font-size: 20px
  .posts-spacer
    margin-top: 25px
  ul.posts
    list-style: none
    margin: 0
    padding: 0
    +indent-content
    margin-bottom: 0
    padding-bottom: 0
    li
      margin: 0
      padding: 0
      p
        padding-left: 10px
        line-height: 24px
        font-size: 18px
      time
        display: inline
        font-size: 14px

body > footer
  background: $gray-lighter + 8
  position: absolute
  left: 0
  bottom: 0
  width: 100%
  padding: 5px 20px
  font-family: $headerFont
  text-align: center
  font-weight: 600
  p
    color: $gray-light
    font-size: $font-size / 1.5
    padding: 0
    display: inline
  figure
    display: inline
    position: relative
    top: 2px
    border-bottom: none
    color: $red
    font-family: Helvetica

section article footer
  padding-bottom: 10px
  display: block
  +clearfix
  p.meta a
    max-width: 120px
    border-bottom: none
  p.meta span.right, span.left
    border-bottom: none
    color: $red
@media all and (max-width: 60em)
  body section
    width: 95%

@media all and (min-width: 50em)
  body > header
    display: block
    height: 100%
  section
    display: block
    h1 time
      margin-top: 8px
      font-size: 14px
    h1, h2, h3, p, blockquote, ul.posts
      padding: 0px 50px
      width: auto
      padding-bottom: 5px
    blockquote
      margin-left: 50px
      padding: 0
      p
        max-width: 575px
        margin-left: 15px
        padding: 0
    article footer p.meta a
      max-width: 50%
  body > footer
    bottom: 0
  pre
    padding: 10px 50px

p.note
  margin-top: 5px
  font-weight: normal

.prettyprint
  &.linenums
    -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0
    -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0
    box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0

.twitter-tweet body
  float: left

/* Specify class=linenums on a pre to get line numbering

*::selection, small::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection
  background: $red
  color: white

@media only screen and (min-width: 750px) and (max-width: 830px)
  body > footer p
    font-size: $font-size - 10
