@import "normalize"
@import "mixins"
@import "base"

h1, h2, h3, h4, h5, h6
  font-family: $headerFont
  color: $black
  *
    color: $black

body
  font-size: $font-size
  font-family: $bodyFont
  line-height: 24px
  color: $offBlack

small
  font-size: 75%

@import "new"
