<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/screen.css">
    <link href='http://fonts.googleapis.com/css?family=Stoke|Josefin+Sans:300,400,600,700' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <header>
      <div class="divider"></div>
      <figure class="logo">
        <a href="/">&#x1D77A;</a>
      </figure>
      <hgroup>
        <h1><a href="/">Jacques Fuentes</a></h1>
        <h3><p>I love to learn, create, read, and marvel at the beautfy of life.</p></h3>
      </hgroup>
      <nav>
        <ul>
          <li><a href="/">essays</a></li>
          <li><a href="https://github.com/jpfuentes2">code</a></li>
          <li><a href="https://twitter.com">twitter</a></li>
          <li><a href="/about">about</a></li>
        </ul>
      </nav>
    </header>
    <section>
      {{ content }}
    </section>
    <footer>
      <figure class="logo">
        <a href="/">&#x1D77A;</a>
      </figure>
      <p><span class="author">Jacques Fuentes</span></p>
    </footer>
  </body>
</html>
